<ng-template #Icons let-icon="icon">
  <ng-container [ngSwitch]="icon">
    <fa-icon *ngSwitchCase="'sun'" [icon]="faSun"></fa-icon>
    <fa-icon *ngSwitchCase="'cloud'" [icon]="faCloud"></fa-icon>
    <fa-icon *ngSwitchCase="'cloud_sun'" [icon]="faCloudSun"></fa-icon>
    <fa-icon style="font-size: 1.25rem;" *ngSwitchCase="'cloud_rain'" [icon]="faCloudRain"></fa-icon>
  </ng-container>
</ng-template>

<ng-template #TimeEntry let-time="time" let-icon="icon" let-temp="temp" let-rain_possible="rain_possible">
  <div class="text-gray-300 me-4">
    <div class="font-bold text-sm text-center">{{ time }}</div>
    <div class="content-center" style="height: 44px">
      <div class="justify-center flex">
        <ng-container *ngTemplateOutlet="Icons; context: {'icon': icon}"></ng-container>
      </div>
      <div class="font-bold text-center -mt-0.5 text-blue-400" *ngIf="rain_possible" style="font-size: 0.75rem;">{{ rain_possible }}%</div>
    </div>
    <div class="font-bold text-sm text-center">{{ temp }}°</div>
  </div>
</ng-template>

<ng-template #FutureEntry let-day="day" let-icon="icon" let-rain_possible="rain_possible" let-temp_min="temp_min" let-temp_max="temp_max">
  <div>
    <div class="grid grid-cols-2">
      <div class="col-span-1">
        <div class="text-2xl font-bold text-gray-200">{{ day }}</div>
      </div>
      <div class="col-span-1 text-gray-300 justify-center grid">
        <ng-container *ngTemplateOutlet="Icons; context: {'icon': icon}"></ng-container>
        <div class="font-bold text-center -mt-0.5 text-blue-400" *ngIf="rain_possible" style="font-size: 0.75rem;">{{ rain_possible }}%</div>
      </div>
      <div class="col-span-1">
        <div class="text-2xl font-bold text-gray-200">{{ temp_max }} / {{ temp_min }}°</div>
      </div>
    </div>
    <hr class="mt-2 mb-2 border-gray-500">
  </div>
</ng-template>

<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <app-navigation></app-navigation>
</aside>

<div class="p-4 sm:ml-64 bg-cover bg-no-repeat relative" style="background-image: url('cloudy_1.webp');">
  
  <form class="flex items-center max-w-sm mx-auto absolute right-8" (submit)="searchCity($event)">   
    <label for="simple-search" class="sr-only">Search</label>
    <div class="relative w-full">
        <input type="text" name="city" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter city name" required />
    </div>
    <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (submit)="searchCity($event)">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search</span>
    </button>
  </form>

  <div class="p-4 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
     <div class="flex items-center justify-center h-48 mb-4 rounded bg-transparent">
      <div class="mt-20 grid grid-cols-1 grid-rows-4">
        <div class="col-span-1 text-4xl font-bold text-gray-200 text-center content-center">{{ locationWeatherData?.city }}</div>
        <div class="col-span-1 -mt-4 text-7xl font-extralight text-gray-200 text-center content-center">{{ locationWeatherData?.current.temperature2m.toFixed(2) }}°</div>
        <div class="col-span-1 text-md font-medium text-gray-200 text-center content-center h-8">{{helpersService.getWeatherDescription(locationWeatherData?.current.weatherCode)}}</div>
        <div class="col-span-1 -mt-8 text-md font-medium text-gray-200 text-center content-center h-8">H:{{ locationWeatherData?.latitude.toFixed(2) }}° L: {{ locationWeatherData?.longitude.toFixed(2)}}°</div>
      </div>
     </div>
     <div class="col-span-2 row-span-1 mb-4">
      <div class="bg-slate-700 rounded-md">
        <div class="p-6">
          <div class="text-gray-300">{{ helpersService.getWeatherDescriptionText(locationWeatherData?.current.weatherCode) }}</div>
          <hr class="mt-4 mb-4 border-gray-500">
          <div class="flex overflow-x-scroll no-scrollbar">
            <ng-container *ngFor="let entry of locationWeatherData?.hourly.time; let i = index">
              <ng-container *ngTemplateOutlet="TimeEntry; context: { time: helpersService.formatHour(entry.getHours()), icon: helpersService.getWeatherCondition(locationWeatherData?.hourly.precipitation[i]), temp: locationWeatherData?.hourly.temperature2m[i].toFixed(0), rain_possible: locationWeatherData?.hourly.precipitation[i].toFixed(0) }"></ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
     <div class="grid grid-cols-2 gap-4">
        
      <div class="col-span-1 row-span-1">
        <div class="bg-slate-700 rounded-md h-[22rem] overflow-x-scroll no-scrollbar">
          <div class="p-6">
            <div class="text-gray-400">7-day forecast</div>
            <hr class="mt-2 mb-2 border-gray-500">
            <ng-container *ngFor="let entry of locationWeatherData?.daily.time; let i = index">
              <ng-container *ngTemplateOutlet="FutureEntry; context: { day: helpersService.getDayNameFromTimestamp(entry.getTime()), icon: helpersService.getWeatherCondition(locationWeatherData?.daily.precipitationProbabilityMax[i]), rain_possible: locationWeatherData?.daily.precipitationProbabilityMax[i], temp_min: locationWeatherData?.daily.temperature2mMin[i].toFixed(0), temp_max: locationWeatherData?.daily.temperature2mMax[i].toFixed(0) }"></ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-span-1 row-span-1">
        <div class="bg-slate-700 rounded-md">
          <div class="p-6">
            <div class="text-gray-400">Radar</div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>
