<!--<div class="bg-slate-700 justify-center">
  <div class="grid grid-cols-7">
    <div class="col-span-2">
      <div id="date-range-picker" class="p-4 text-center flex items-center">
        <div class="text-gray-300 me-2">
          <input id="datepicker-range-start" name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{{periodOfTime.start.toLocaleDateString()}}">
        </div>
        <div class="text-gray-300 me-2">
          bis
        </div>
        <div class="text-gray-300">
          <input id="datepicker-range-end" name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{{periodOfTime.end.toLocaleDateString()}}">
        </div>
      </div>
    </div>
    <div class="col-span-1 border-b-2">
      <div class="pt-6 text-center">
        <div class="text-gray-300">Heute</div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="pt-6 text-center">
        <div class="text-blue-400">Morgen</div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="pt-6 text-center">
        <div class="text-blue-400">Woche</div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="pt-6 text-center">
        <div class="text-blue-400">Monat</div>
      </div>
    </div>
  </div>
</div>-->
