<ng-template #NavItem let-city="city" let-time="time" let-type="type" let-temp="temp" let-coords="coords" let-selected="selected">
  <li class="rounded-xl" [class.bg-gray-600]="selected">
    <div class="grid grid-rows-3 grid-flow-col grid-cols-2 text-gray-200 p-3">
      <div class="col-span-1">
        <div class="font-bold">{{ city }}</div>
      </div>
      <div class="col-span-1">
        <div class="text-xs">{{time}} Uhr</div>
      </div>
      <div class="col-span-1 content-end">
        <div class="text-sm">{{ type }}</div>
      </div>
      <div class="row-span-2 col-span-1 text-end">
        <div class="text-4xl">{{ temp }}°</div>
      </div>
      <div class="row-span-1 col-span-1 content-end text-end">
        <div class="text-sm text-gray-400">{{ coords }}</div>
      </div>
    </div>
  </li>
</ng-template>

<div class="overflow-y-auto py-5 px-3 h-full bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <ul class="space-y-2">

    <ng-container *ngTemplateOutlet="NavItem; context:{
      'city': 'Berlin',
      'time': '07:00',
      'type': 'Wolkig',
      'temp': '12',
      'coords': 'H:65° L:42°',
      'selected': true
    }"></ng-container>
    
    <div *ngFor="let city of citys">
      <ng-container *ngTemplateOutlet="NavItem; context:{
        'city': city,
        'time': '07:00',
        'type': 'Sonnig',
        'temp': '25',
        'coords': 'H:72° L:28°'
      }"></ng-container>
    </div>


  </ul>
</div>
